@font-face {
    font-family: 'Euclid Circular';
    src: local('Euclid Circular Bold'), local('Euclid-Circular-Bold'),
        url('EuclidCircularA-Bold.woff') format('woff'),
    font-weight: 700;
    font-style: normal;
  }
